$alpha: #ffffff;
$beta: #2f3132;
$charlie: #e5e5e5;
$primary: #8bc241;
$primary-dark: #0f5532;
$secondary-d: #fac45e;
$secondary-i: #d1edf7;
$secondary-b: #0091ff;
$secondary-a: #ef5046;
$secondary-t: #ff813c;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$font-family: "Bebas Neue", cursive;
$text: "Roboto", sans-serif;

.container {
    display: flex;
    max-width: 90%;
    background: $secondary-d;
    padding: .5em;
    margin: .5em 0;
    justify-content: space-evenly;
    border-radius: 4px;
}
