$alpha: #e5e5e5;
$beta: #2f3132;
$primary: #8bc241;
$primary-dark: #0f5532;
$secondary-d: #fac45e;
$secondary-i: #d1edf7;
$secondary-b: #0091ff;
$secondary-a: #ef5046;
$secondary-t: #ff813c;

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px;

    position: absolute;
    max-height: 36px;
}

.upper {
    background-color: $primary-dark;
    color: $alpha;
}

.lower {
    background-color: $alpha;
    color: $primary-dark;
}