.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px;

    position: absolute;
    max-height: 36px;
}

.green {
    @include themed() {
        background-color: t($primary-dark);
    }
}