// @use 'styles/theme';
@use 'sass:meta';

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px;

    position: absolute;
    max-height: 36px;
}

@debug meta.global-variable-exists("alpha");

.upper {
    @include themed() {
        background-color: t('primary-dark');
        // color: t($alpha)
    }
}

.lower {
    @include themed() {
        // background-color: t($alpha);
        // color: t($primary-dark)
    }
}