$alpha: #ffffff;
$beta: #2f3132;
$charlie: #e5e5e5;
$primary: #8bc241;
$primary-dark: #0f5532;
$secondary-d: #fac45e;
$secondary-i: #d1edf7;
$secondary-b: #0091ff;
$secondary-a: #ef5046;
$secondary-t: #ff813c;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$font-family: "Bebas Neue", cursive;

.container {
    display: flex;
    position: relative;
    height: 12em;
    background-color: $primary;
    justify-content: center;
}

.tabbar {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 90%;
    max-height: 3em;
    justify-content: space-between;

    overflow-x: scroll;
    scrollbar-width: none;
    z-index: 2;
}